@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #333333;
  --color-brand: #1659e6;
  --color-popover: #fff;

  --color-input: #e3e3e3;
  --color-ring: #1659e6;
}
